/*
	Analytics4Athletes Theme
	Author: Sean Hasenstein
	Version: 0.01
*/

@import 'vendors/bootstrap';
@import 'vendors/fontawesome';
@import 'base/typography';
@import 'components/navigation';
@import 'pages/home/showcase';
@import 'pages/home/learn-more';
@import 'pages/home/products';
@import 'pages/products';
@import 'pages/checkout';
@import 'pages/confirmation';
@import 'pages/about';
@import 'pages/product-examples';
@import 'pages/contact';
@import 'pages/404';
@import 'layout/footer';

html, body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px !important;
    /*overflow-x: hidden; */
}