/*

pages/contact.scss

*/

section.contact {
	padding: 0 0 50px;

	.contact-header {
		background: url('images/contact_header.jpg') no-repeat;
		background-size: cover;
		background-position: top center;
		height: 150px;
	}

	.gform_wrapper .top_label .gfield_label {
		font-size: 13px;
	    line-height: 23px;
	    font-weight: normal;
	}

	.gform_wrapper .gfield_required {
		color: #ed1c24;
	}

	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper textarea.large {
		border: 1px solid #ddd;

		&:active, &:focus {
			outline: none;
			outline-width: 1px;
			outline-style: solid;
			outline-color: #d62531;
		}
	}

	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		padding: 10px;
	    margin-bottom: 15px;
	}

	.gform_wrapper textarea.large {
		height: 200px;
		resize: vertical;
    	overflow: auto;
	}

	input#gform_submit_button_1 {
	    background: #D62531;
	    border: none;
	    color: #fff;
	    font-size: 14px;
	    text-transform: uppercase;
	    padding: 12px 40px;
	}
}