/*

layout/footer.scss

*/


footer {
	background: url('images/logo_footer_blue_shadow.png') no-repeat;
	background-size: 42%;
	background-position: center right;
	background-color: #282b2d;
	padding: 70px 0 0;

	img {
		width: 350px;
		margin: 0 0 35px;

		@media screen and (max-width: 380px) {
			width: 95%;
		}
	}

	.container {
		max-width: 900px;
		margin: 0 auto;
	}

	h2 {
		text-transform: uppercase;
	    font-weight: 400;
	    font-size: 14px;
	    margin-bottom: 25px;
	    color: #ccc;
	}

	ul {
		margin-top: 0;
    	margin-bottom: 0px;
    	list-style-type: none;
    	padding: 0;

    	@media screen and (max-width: 767px) {
    		margin-bottom: 40px;
    	}

		li {
			margin-bottom: 10px;

			a {
				color: #7a7a7a;
    			font-size: 14px;

    			&:hover, &:focus, &:active {
    				text-decoration: none;
    			}

    			&:hover {
    				color: #00adec;color: #fff;
    			}
			}
		}
	}

	.footer-bottom {
	    margin-top: 65px;
	    padding: 0 0 5px;

	    .col-sm-8 {
	    	border-top: 1px solid #323638;
	    	padding: 15px 0 0;

	    	@media screen and (max-width: 767px) {
	    		width: 95%;
				margin: 0 auto;
	    	}
	    }

		p {
			color: #3e3e3e;

			@media screen and (max-width: 340px) {
				font-size: 13px;
			}
		}

	}
}







