/*

base/typography.scss

*/


body {
	font-family: 'Poppins', sans-serif;
}

section.about h1, section.contact h1 {
	text-align: center;
	color: #000;
	font-weight: 600;
	font-size: 34px;
	margin: 50px 0;
	text-transform: uppercase;
	margin-bottom: 40px;
}
